<?xml version="1.0"?>
<configuration>
    <appSettings>

        <!-- Optional. Concurrency policy for the invocations to the Remote
             Metadata Adapter methods. The following values are supported:

             - None
               The invocations will be strictly sequential; it can be used
               if parallelization of the calls is not supported by the
               Metadata Adapter.
             - SystemPool
               The invocations will be issued by leaning on the .NET system
               thread pool.
             - VirtuallyUnlimited
               The invocations of methods that are meant to return a response
               for which an access to the back-end may be needed
               will be issued in dedicated short-lived threads;
               the invocations of the other methods will be issued by leaning
               on the .NET system thread pool.
             - Unlimited
               All the invocations will be issued in dedicated short-lived
               threads.

             Note that requests with an implicit ordering,
             like NotifyNewSession and NotifySessionClose for the same session,
             are always guaranteed to be sequentialized in the right way,
             although they may not occur in the same thread.
             Default if missing: SystemPool. -->
        <add key="Lightstreamer.Metadata.Concurrency" value="SystemPool" />

        <!-- Optional. Concurrency policy for the invocations to the Remote
             Data Adapter methods. The following values are supported:

             - SystemPool
               The invocations will be issued by leaning on the .NET system
               thread pool.
             - Unlimited
               The invocations will be issued in dedicated short-lived
               threads.

             Note that Subscribe and Unsubscribe invocations for the same item
             are always guaranteed to be sequentialized in the right way,
             although they may not occur in the same thread.
             Default if missing: Unlimited. -->
        <add key="Lightstreamer.Data.Concurrency" value="Unlimited" />

        <!-- Optional. Inactivity time on any outbound connection after which
             a KEEPALIVE message should be sent, in order to prevent the
             underlying system from forcibly closing the socket.
             A 0 or negative value means no KEEPALIVE messages.

             However, if a stricter interval is requested by the Proxy Adapter
             on startup, it will be obeyed (with a safety minimum of 1 second).
             This should ensure that the Proxy Adapter activity checks will
             always succeed, but for some old versions of the Proxy Adapter.

             Default if missing: 10000 ms. -->
        <add key="Lightstreamer.Keepalive.Millis" value="5000" />

    </appSettings>
</configuration>
